<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="{{ url_for('static', filename='js/blog/category-tag.js') }}"></script>
    {% block style %}{% endblock %}
    {% block script %}{% endblock %}


</head>

<body>

<div id="FirstLine">
    <div class="row">
        {% if g.user %}
            <div class="col-md-4 col-sm-4 col-xs-4">

                <p style="display: inline-block"> خوش آمدید
                    {{ g.user["username"] }}
                </p>

                <a href="{{ url_for('user.create_post') }}" style="text-decoration: none">
                    <button type="button" class="btn btn-secondary">ساخت پست</button>
                </a>

                <a href="{{ url_for("auth.logout") }}">
                    <button type="button" class="btn btn-light">خروج</button>
                </a>

            </div>


        {% else %}
            <div class="col-md-4 col-sm-4 col-xs-4">
                <a href="{{ url_for("auth.signup") }}" style="text-decoration: none">
                    <button type="button" class="btn btn-secondary">ثبتنام</button>
                </a>
                <a href="{{ url_for("auth.login") }}">
                    <button type="button" class="btn btn-light">ورود</button>
                </a>
            </div>

        {% endif %}

        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="جستجو" aria-label="Search"
                       aria-describedby="search-addon"/>
                <button type="button" class="btn btn-outline-primary">جستجو</button>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: right;">
            <strong>وبلاگ</strong>
        </div>

    </div>
</div>

<div class="container" id="NavbarUl">

    <li><a href="{{ url_for("blog.index") }}">خانه</a></li>

</div>
<br><br>

<div class="container-fluid">

    <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-10" style="float: right">

        <div class="card side mt-3" id="categories-card" style="width: 100%;height: 100%">
            <div class="card-header side-header">
                <p class="card-text row flex-row-reverse" style="font-size: 18px; margin-right: 2px">دسته‌بندی مطالب</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <nav id="cat-column" style="direction:rtl">

                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="card side mt-3" style="width: 100%;height: 100%">
            <div class="card-header side-header">
                <div class="card-title row flex-row-reverse">
                    <p class="mr-3">برچسب ها</p>
                </div>
            </div>
            <div class="card-body" id="body-tags">

            </div>
        </div>
    </div>


    {% block body %}{% endblock %}
</div>
<footer class="text-center text-lg-start bg-light text-muted">

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>


    </section>


    <section class="">
        <div class="container text-center text-md-start mt-5">

            <div class="row mt-3">

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">
                </div>

                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        وبلاگ
                    </h6>
                    <p>این وبسایت توسط کاروندان گروه 2 مکتب 53 ساخته شده است</p>
                </div>


                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        توسعه دهندگان </h6>
                    <p>
                        <a href="https://github.com/mahdisj">Mahdi Sijani</a>
                    </p>
                    <p>
                        <a href="https://github.com/mowbish">
                            Mobin Aghaei
                        </a>
                    </p>
                    <p>
                        <a href="https://github.com/sjd1997" style="display: inline">Sajjad Zoghi</a>
                    </p>
                    <p>
                        <a href="https://github.com/Mostafa-N-E" style="display: inline">Mostafa Nazari</a>
                    </p>
                    <p>
                        <a href="https://github.com/Aliirezzza" style="display: inline">Alireza Zare</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">
                </div>

            </div>

        </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="#">Blog.com</a>
    </div>
</footer>

{% block js %}
{% endblock %}
</body>
</html>