<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

    <div id="FirstLine">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button type="button" class="btn btn-secondary">SignUp</button>
                <button type="button" class="btn btn-light">SignIn</button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: right;">
                <strong>My Blog</strong>
            </div>
        </div>
    </div>

    <ul id="NavbarUl">
        <div class="container">
            <li><a class="active" href="#home">test</a></li>
            <li><a href="#news">test</a></li>
            <li><a href="#contact">test</a></li>
        </div>
    </ul>

    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <img src=" " alt="" id="Image" class="rounded mx-auto d-block">
            </div>
            <div class="col-md-4 col-sm-12">
                <img src=" " alt="" id="Image" class="rounded mx-auto d-block">
            </div>
            <div class="col-md-4 col-sm-12">
                <img src=" " alt=" " id="Image" class="rounded mx-auto d-block">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <img src=" " alt="" id="Image" class="rounded mx-auto d-block">
            </div>
            <div class="col-md-4 col-sm-12">
                <img src=" " alt="" id="Image" class="rounded mx-auto d-block">
            </div>
            <div class="col-md-4 col-sm-12">
                <img src=" " alt=" " id="Image" class="rounded mx-auto d-block">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12">
            </div>
        </div>
    </div>

    <footer class="text-center text-lg-start bg-light text-muted">

        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>



            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>

        </section>



        <section class="">
            <div class="container text-center text-md-start mt-5">

                <div class="row mt-3">

                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Blog
                        </h6>
                        <p>This website was created as a project of Maktab Sharif at 2021 09 08</p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            popular categories
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">category 1</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">category 2</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">category 3</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">category 4</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Developer's
                        </h6>
                        <p><i class="fas fa-home me-3"></i> Mahdi Sijani</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i> Mobin Aghaei
                        </p>
                        <p><i class="fas fa-phone me-3"></i>Sajjad Zooghi</p>
                        <p><i class="fas fa-print me-3"></i>Mostafa Nazari</p>
                        <p><i class="fas fa-print me-3"></i>Alireza Zaree</p>
                    </div>
                </div>

            </div>
        </section>

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="#">Blog.com</a>
        </div>
    </footer>

</body>

</html>