{% extends 'base.html' %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/profile.css') }}">
    {#    <link rel="stylesheet" href="../../static/css/user/profile.css'">#}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/user/profile.js') }}"></script>
    {#    <script type='text/javascript' src="../../static/js/user/profile.js"></script>#}
{% endblock %}


{% block body %}

<div class="container" >
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5" id="base_prof">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">مشخصات کاربری شما</h5>
            <div class="row form-floating mb-3" style="float: right;">
                  <img id="profile_image" src="{{ url_for('static', filename='media/' + g.user["image"]) }}">
              </div>
              <form>

                <br>
                <br>
              <div class=" row form-floating mb-3">
                  <h4 id="name" style="float: left;margin: auto" class="row">{{ g.user["first_name"] }} {{ g.user["last_name"] }}</h4>
                    <br>
              </div>

              <div class="row form-check mb-3" style="margin-top: 50px;border-color: #0d060e;border-radius: 10%">
                  <ul>
                <li id="username">Username: {{ g.user["username"] }}</li>
                <li id="email">Email: {{ g.user["email"] }}</li>
            </ul>
              </div>
                <br>
              <div class=" row d-grid">

                    <a id="post_list" class="btn btn-primary" href="{{ url_for('user.posts_list', user_id=g.user['_id'] )}}" style="float: right;margin: auto;margin-top: 50px">نوشته های شما</a>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}