.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}
section > *,
header > *,
footer > *,
.u-sheet > * {
  position: relative;
}
section.u-image,
.u-sheet.u-image,
.u-group.u-image,
.u-layout-cell.u-image {
  overflow: visible;
}
.u-sheet {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .u-sheet {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-sheet {
    width: 940px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-sheet {
    width: 720px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-sheet {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .u-sheet {
    width: 340px;
  }
}
.u-sheet .u-sheet {
  width: 100%;
}
@media (max-width: 767px) {
  :not(.u-sheet) > [class*="u-gutter-"]:not(.u-gutter-0).u-expanded-width {
    overflow: hidden;
  }
}
.u-sheet:not(.u-image):not(.u-video) {
  pointer-events: none;
}
.u-sheet:not(.u-image):not(.u-video) > * {
  pointer-events: auto;
  pointer-events: initial;
}
.u-sheet.u-content-layout {
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .u-sheet.u-content-layout {
    flex-direction: column;
    align-items: center;
  }
}
.u-image.u-logo {
  display: table;
  white-space: nowrap;
}
.u-image.u-logo img {
  display: block;
}
.u-image,
.u-background-effect-image,
.u-video-poster {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
img.u-image,
.u-video-poster {
  overflow: hidden;
}
.u-back-image.u-image-contain,
.u-image.u-image-contain {
  object-fit: contain;
  background-size: contain;
}
.u-back-image.u-image-tiles,
.u-image.u-image-tiles {
  background-size: initial;
  background-repeat: repeat;
  background-position: top left !important;
}
section.u-image,
.u-sheet.u-image,
.u-group.u-image,
.u-layout-cell.u-image {
  overflow: visible;
}
.u-text .u-image {
  display: inline-block;
}
.u-post-content .u-image {
  margin-bottom: 0.5rem;
}
.u-image-circle.u-image {
  border-radius: 50% !important;
}
.u-sheet:not(.u-image):not(.u-video) {
  pointer-events: none;
}
.u-sheet:not(.u-image):not(.u-video) > * {
  pointer-events: auto;
  pointer-events: initial;
}
.u-image-round {
  border-radius: 10px;
}
.u-radius-20,
.u-radius-20:before,
.u-radius-20 .u-background-effect,
.u-radius-20 > .u-container-layout {
  border-radius: 20px !important;
}
section.u-image,
.u-sheet.u-image,
.u-group.u-image,
.u-layout-cell.u-image {
  overflow: visible;
}
.u-group .u-container-layout > * {
  position: relative;
}
.u-group {
  display: flex;
}
.u-layout-cell,
.u-container-style.u-opacity,
.u-group.u-opacity {
  background-color: transparent !important;
  opacity: 1;
}
.u-layout-cell:before,
.u-container-style.u-opacity:before,
.u-group.u-opacity:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.u-radius-16,
.u-radius-16:before,
.u-radius-16 .u-background-effect,
.u-radius-16 > .u-container-layout {
  border-radius: 16px !important;
}
.u-shape-round,
.u-shape-round:before,
.u-shape-round > .u-container-layout {
  border-radius: 10px;
}
.u-image-circle.u-image {
  border-radius: 50% !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-text-default-lg {
    display: table;
    align-self: flex-start;
  }
  .u-text-default-lg:empty {
    display: block;
    width: 15px;
  }
}
@media (min-width: 1200px) {
  .u-text-default-xl {
    display: table;
    align-self: flex-start;
  }
  .u-text-default-xl:empty {
    display: block;
    width: 15px;
  }
}
.u-none.u-button-style,
.u-none.u-button-style:hover,
.u-none.u-button-style:focus,
.u-none.u-button-style:active,
.u-none.u-button-style.active,
.u-button-style.u-hover-none:hover,
.u-button-style.u-hover-none:focus,
.u-button-style.u-active-none:active,
.u-button-style.u-active-none.active,
li.active > .u-button-style.u-active-none {
  color: inherit !important;
  background-color: transparent !important;
}
.u-tab-list[class*="u-border"] .u-tab-link.u-border-2 {
  margin-bottom: -2px;
}
.u-border-2,
.u-separator-2:after,
.u-text.u-border-2,
a.u-button-style.u-border-2 {
  border-width: 2px;
}
.u-shape-svg.u-border-2 {
  stroke-width: 2px;
}
.u-link.u-border-2 {
  border-width: 0 0 2px 0;
}
u-tab-list[class*="u-border"] .u-tab-link.u-border-20 {
  margin-bottom: -20px;
}
.u-border-palette-1-base,
.u-separator-palette-1-base:after {
  border-color: #478ac9;
  stroke: #478ac9;
}
.u-button-style.u-border-palette-1-base {
  border-color: #478ac9 !important;
  color: #478ac9 !important;
  background-color: transparent !important;
}
.u-button-style.u-border-palette-1-base:hover,
.u-button-style.u-border-palette-1-base:focus {
  border-color: transparent !important;
  color: #387cbd !important;
  background-color: transparent !important;
}
.u-link.u-border-palette-1-base[class*="u-border-"] {
  border-color: #478ac9 !important;
}
.u-link.u-border-palette-1-base[class*="u-border-"]:hover {
  border-color: #387cbd !important;
}
.u-btn
{
margin-top: 20px;
margin-bottom: 20px;
}
.u-btn-rectangle {
  border-radius: 0 !important;
}
.u-radius-45,
.u-radius-45:before,
.u-radius-45 .u-background-effect,
.u-radius-45 > .u-container-layout {
  border-radius: 45px !important;
}
.u-shape-round,
.u-shape-round:before,
.u-shape-round > .u-container-layout {
  border-radius: 10px;
}
.u-radius-16,
.u-radius-16:before,
.u-radius-16 .u-background-effect,
.u-radius-16 > .u-container-layout {
  border-radius: 16px !important;
}
@media (max-width: 575px) {
  .u-expanded-width-xs {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.u-preserve-proportions.u-expanded-width-xs > * {
  position: absolute !important;
}
.u-preserve-proportions.u-expanded-width-xs > .u-preserve-proportions-child {
  position: relative !important;
}
.u-align-center {
  text-align: center;
}


.u-grey-5,
.u-body.u-grey-5,
.u-container-style.u-grey-5:before,
.u-table-alt-grey-5 tr:nth-child(even) {
  color: #111111;
  background-color: #f2f2f2;
}
.u-button-style.u-grey-5,
.u-button-style.u-grey-5[class*="u-border-"] {
  color: #111111 !important;
  background-color: #f2f2f2 !important;
}
.u-button-style.u-grey-5:hover,
.u-button-style.u-grey-5[class*="u-border-"]:hover,
.u-button-style.u-grey-5:focus,
.u-button-style.u-grey-5[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-grey-5:active,
.u-button-style.u-button-style.u-grey-5[class*="u-border-"]:active,
.u-button-style.u-button-style.u-grey-5.active,
.u-button-style.u-button-style.u-grey-5[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-grey-5,
li.active > .u-button-style.u-button-style.u-grey-5[class*="u-border-"] {
  color: #111111 !important;
  background-color: #dadada !important;
}
.u-hover-grey-5:hover,
.u-hover-grey-5[class*="u-border-"]:hover,
.u-hover-grey-5:focus,
.u-hover-grey-5[class*="u-border-"]:focus,
.u-active-grey-5.u-active.u-active,
.u-active-grey-5[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-grey-5:hover,
a.u-button-style.u-hover-grey-5[class*="u-border-"]:hover,
a.u-button-style:hover > .u-hover-grey-5,
a.u-button-style:hover > .u-hover-grey-5[class*="u-border-"],
a.u-button-style.u-hover-grey-5:focus,
a.u-button-style.u-hover-grey-5[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-grey-5:active,
a.u-button-style.u-button-style.u-active-grey-5[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-grey-5.active,
a.u-button-style.u-button-style.u-active-grey-5[class*="u-border-"].active,
a.u-button-style.u-button-style.active > .u-active-grey-5,
a.u-button-style.u-button-style.active > .u-active-grey-5[class*="u-border-"],
li.active > a.u-button-style.u-button-style.u-active-grey-5,
li.active > a.u-button-style.u-button-style.u-active-grey-5[class*="u-border-"] {
  color: #111111 !important;
  background-color: #f2f2f2 !important;
}
a.u-link.u-hover-grey-5:hover {
  color: #f2f2f2 !important;
}
.u-grey-10,
.u-body.u-grey-10,
.u-container-style.u-grey-10:before,
.u-table-alt-grey-10 tr:nth-child(even) {
  color: #111111;
  background-color: #e5e5e5;
}
.u-button-style.u-grey-10,
.u-button-style.u-grey-10[class*="u-border-"] {
  color: #111111 !important;
  background-color: #e5e5e5 !important;
}
.u-button-style.u-grey-10:hover,
.u-button-style.u-grey-10[class*="u-border-"]:hover,
.u-button-style.u-grey-10:focus,
.u-button-style.u-grey-10[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-grey-10:active,
.u-button-style.u-button-style.u-grey-10[class*="u-border-"]:active,
.u-button-style.u-button-style.u-grey-10.active,
.u-button-style.u-button-style.u-grey-10[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-grey-10,
li.active > .u-button-style.u-button-style.u-grey-10[class*="u-border-"] {
  color: #111111 !important;
  background-color: #cecece !important;
}
.u-hover-grey-10:hover,
.u-hover-grey-10[class*="u-border-"]:hover,
.u-hover-grey-10:focus,
.u-hover-grey-10[class*="u-border-"]:focus,
.u-active-grey-10.u-active.u-active,
.u-active-grey-10[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-grey-10:hover,
a.u-button-style.u-hover-grey-10[class*="u-border-"]:hover,
a.u-button-style:hover > .u-hover-grey-10,
a.u-button-style:hover > .u-hover-grey-10[class*="u-border-"],
a.u-button-style.u-hover-grey-10:focus,
a.u-button-style.u-hover-grey-10[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-grey-10:active,
a.u-button-style.u-button-style.u-active-grey-10[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-grey-10.active,
a.u-button-style.u-button-style.u-active-grey-10[class*="u-border-"].active,
a.u-button-style.u-button-style.active > .u-active-grey-10,
a.u-button-style.u-button-style.active > .u-active-grey-10[class*="u-border-"],
li.active > a.u-button-style.u-button-style.u-active-grey-10,
li.active > a.u-button-style.u-button-style.u-active-grey-10[class*="u-border-"] {
  color: #111111 !important;
  background-color: #e5e5e5 !important;
}
a.u-link.u-hover-grey-10:hover {
  color: #e5e5e5 !important;
}


.u-section-1 .u-container-layout-1 {
  padding-left: 14px;
  padding-right: 14px;
}
.u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
