body {
    font-size: 28px;
}

#NavbarUl {
    max-width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #546e7a;
    position: sticky;
    top: 0;
    z-index: 999;
}

#NavbarUl li {
    float: right;
}

#NavbarUl li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#NavbarUl li a:hover {
    background-color: #29434e;
}

#NavbarUl .active {
    background-color: #7f0000;
}

#FirstLine {
    padding: 2% 6% 2% 6%;
    background-color: #F8F9FA;
}

#Image {
    max-width: 100%;
}

i {
    color: #929292;
}
i:hover {
    outline: none;
}
.side {
    width: 20rem;
    text-align: right;
}
.side a {
    color: #929292;

}
input {
    text-align: right;
}
.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 30vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}
.dropdown-menu a {
    padding: 12px 16px;
    text-decoration: none;
    text-align: right;
    border: 0.1mm solid #e3e3e3;
    color: #7b7a7a;
}
.side-header {
    background-color: white;
    height: 3rem;
}
.card-body a:hover {
    text-decoration: none;
}

#button-tag {
    color:grey;
    background-color: white;
    border: 0.1mm solid silver;
    border-radius: 10%;
}

#column_left {
	background-color: white;
}

.nav-list li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	cursor: pointer;
	border-bottom:0.001mm solid #e7e7e7;
    color: black;
}

.accordion-heading {
    background-color: #d5d4d4;
    height: 20px;
}

.parent {
    background-color: #d5d4d4;
    height: 2.3rem;
}

ul p {
    cursor: pointer;
    margin-bottom: 0;
}


.ui-autocomplete .ui-menu-item{
    font-style:italic;
    color:grey;
    text-align: right;
}